<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Song Submission Form</title>
</head>
<body>
    <h1>Song Submission Form</h1>
    <form action="php/Song_Save_be.php" method="post" enctype="multipart/form-data">
        <label for="album">Album:</label>
        <input type="text" name="album" id="album" required ><br>

        <label for="artist">Artist:</label>
        <input type="text" name="artist" id="artist" required ><br>

        <label for="genre">Genre:</label>
        <input type="text" name="genre" id="genre" required ><br>

        <label for="release_date">Release Date:</label>
        <input type="date" name="release_date" id="release_date" required><br>

        <label for="title">Title:</label>
        <input type="text" name="title" id="title" required ><br>

        <label for="song_url">Song URL:</label>
        <input type="text" name="song_url" id="song_url" required ><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
