<!DOCTYPE html>
<html>
<head>
    <title>Beatflow Music App</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="icon" href="../../../../Assets/Icons/Beatflow_page_png2.png">
</head>
<body>
    <video src="../../../../Assets/Backgrounds/Neon Lights Background 1.mp4" autoplay loop muted></video>
    <form action="php/Song_Save_be.php" method="post" enctype="multipart/form-data">
        <h1>Song Submission</h1>
        <label for="album">Album:</label>
        <input type="text" name="album" id="album" required ><br>

        <label for="artist">Artist:</label>
        <input type="text" name="artist" id="artist" required ><br>

        <label for="genre">Genre:</label>
        <input type="text" name="genre" id="genre" required ><br>

        <label for="release_date">Release Date:</label>
        <input type="date" name="release_date" id="release_date" required><br>

        <label for="title">Title:</label>
        <input type="text" name="title" id="title" required ><br>

        <label for="song_url">Song URL:</label>
        <input type="text" name="song_url" id="song_url" required ><br>

        <label for="image">Song Cover:</label>
        <input type="file" name="image" id="image" accept="image/*" required><br>
    
        <input type="submit" value="Submit">
    </form>
</body>
</html>
