<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beatflow Music App</title>
    <link rel="stylesheet" href="../Preloader Page/style-preloader.css">
    <link rel="icon" href="../../../../Assets/Icons/Beatflow_page_png2.png">
</head>
<body class="preloader">
    <div class="kabobloader">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>
</body>
<script src="script-preloader.js"></script>
</html>